/* #2F4F4F = darkslategray
   #708090 = slategray
   */
div.body {
    margin: auto;
    width: 80%;
    font: small Verdana, Arial, 'MS Sans Serif';
    background: white;
}

div.header {
    display: block;
    border: 2px solid #708090;
    clear: both;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
    background-color: rgb(240,240,245);
    font-variant: small-caps;
    font-size: 1.4em;
    font-family: serif;
}

fieldset {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


.table {
    display: table;
    margin: 0 auto;
}

.hlist li{
    display: inline;
    list-style-type: none;
    padding-left:9px;
    padding-right:7px;
}

.textcenter{
    text-align:center;
}

.tablecenter{
    margin-left:auto;
    margin-right:auto;
}


.hlist .lastli{
    border-right:none;
}

.novis{
    display:none;
}

div#data_options_area ul{
    list-style-type:none;
}

#observations_list{
    list-style-type:none;
    padding:0px;
}

A:link {text-decoration: underline; color: #2F4F4F; }
A:visited {text-decoration: underline; color: #2F4F4F}
A:active {text-decoration: underline; color: #2F4F4F}
A:hover  {
    text-decoration: underline; 
    color: #2F4F4F;
}

table {
    font: lighter small Verdana, Arial, 'MS Sans Serif';
}



h2 {
    margin-bottom: 0px;
    font: lighter x-large Verdana, Arial, 'MS Sans Serif';
}
h3 {
    font: lighter large Verdana, Arial, 'MS Sans Serif';
}

.floatleft{
    float:left;
}
.floatcenter{
}
.floatright{
    float:right;
}

.cdrawrow{
    clear:right;
    overflow:hidden;
}

.floatleft > img.floatleft, .floatright > img.floatright{
    width:inherit;
    margin-left:auto;
    margin-right:auto;
}

.nobottom{
    margin-bottom:0px;
}

.notop{
    margin-top:0px;
}

.explocale {
    display:block;
    font: lighter large Verdana, Arial, 'MS Sans Serif';
}

.expdates{
    display:block;
    font: bold small Verdana, Arial, 'MS Sans Serif';
}

.noborder{
    border:none;
}

.twocol{
    overflow:hidden;
    width:47%;
}

.left{
    float:left;
    margin-left:2%;
    margin-right:1%;
}

.leftsidebar{
    width:27%;
    overflow:hidden;
    float:left;
    margin-right:1%;
}

#datainput{
    width:inherit;
}

.content{
    margin-left:1%;
    margin-right:auto;
    width:70%;
    overflow:hidden;
}

.redborder{
    border-style:solid;
    border-color:red;
}

.right{
    float:right;
    clear:left;
    margin-left:1%;
    margin-right:2%;
}

#draw_area{
    width:90%;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
}

.drawrow{
    clear:both;
    width:800px;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
}

.center_table{
    margin-left:auto;
    margin-right:auto;
}

#feature_table{
    margin-left:auto;
    margin-right:auto;
    float:inherit;
}

.feature_cell{
    text-align:center;
}

hr.slider{
    height:5px;
}

.count_text{
    width: inherit;
    word-wrap: break-word;
    margin:0px 0px 0px 0px;
}

.observed_count_text{
    width: inherit;
    word-wrap: break-word;
    margin:0px 0px 0px 5px;
    float:left;
    color:gray;
    font-weight:bold;
}

.expected_count_text{
    width: inherit;
    word-wrap: break-word;
    margin:0px 5px 0px 0px;
    float:right;    
}

#slider_area{
    overflow:hidden;
}
#model_option_area{
}

#feature_slider_area{
    float:right;
    overflow:hidden;
    width: 75%;
    margin-left:auto;
    margin-right:auto;
}

#feature_slider_fieldset{
    padding-left:5px;
    padding-right:5px;
    overflow:hidden;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
}


.feature_name_box{
    margin:0;
    
}
.html5slider{
    overflow:hidden;
}
#button_navigation_area ul.hlist.ulcenter{
    text-align:center;
    padding-left:0px;
}
#new_challenge{
    display: inline;
}
#prev_lesson{
}
#next_lesson{
}

#jump_to_lesson_select{
    font: inherit;
    border:none;
/* position:absolute !important; */
/* top:-9999px !important; */
/* left:-9999px !important; */
} 

#lesson_title{
    display:inline;
}

.feature_range_opts_div{
    overflow:hidden;
    clear:both;
}

.feature_range_opts_div span{
    text-align:middle;
}

.feature_range_opts{
    padding-top:0px;
    padding-bottom:0px;
    display:inline;
    float:right;
    clear:both;
}

#zero_weights_button{
    width:150px;
    margin-left:auto;
    margin-right:auto;
}

#instruction_loader {
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#instruction_wrapper{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#loading_area {
    margin-bottom:15px;
}

.observed_counts_text{
    color: #696969;
    font-weight:bold;
}

.expected_counts_text{
    font-weight:bold;
}   


.observation_row_num_context /*> td*/{
    padding-bottom:15px;
    overflow:hidden;
}

input[type=range].feature_slider{
/*-webkit-appearance: none;
  padding-left:1px; padding-right:1px;
  -webkit-border-radius: 5px;
  background-image: -webkit-linear-gradient(right, #000000, #333333, #000000);*/
}

#instruction_area {
    overflow-y: auto;
    resize: both;
    border: 1px solid gray;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*********************************************/

.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    max-width: 250px;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: normal 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;
}

.ui-tooltip, .qtip{
    background: black;
    border: 2px solid white;
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;

    min-width: 50px;
    max-width: 250px;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: normal 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;

}

.feature_slider_tooltip {
    width: 100px;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: normal 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

/**********************************************/

#data_options_area{
    width:20%;
    float:left;
}

ul #data_options_area{
    
}

#shapes_area {
    padding-left:5px;
    padding-right:5px;
    overflow:hidden;
}

#data_options_area dt{
    font-weight:bold;
}

#data_options_area dd,ul{
    margin-left:0px;
}

#data_options_area ul,#regularization_options{
    padding-left:25px;
}

#regularization_header{
    display:inline-block;
}
